language: ruby
  
rvm:
        - 2.7.1

addons:
        postgresql: "10"

apt:
        packages:
                - postgresql-10
                - postgresql-client-10

notifications:
        email: false

env:
        global:
                - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
                - CC_TEST_REPORTER_ID=25b2e6c40bbd457e1569bff1c83e9a461986bdfa180cf6049090dd6ac358bdd2

before_install: 
        - nvm install node
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - ./cc-test-reporter before-build
        - sudo locale-gen --no-archive es_CO.UTF-8
        - sudo /etc/init.d/postgresql stop
        - sudo /etc/init.d/postgresql start 10
        - cd test/dummy
        - psql -h 127.0.0.1 -c 'CREATE DATABASE heb412gen_pru;' -U postgres
        - gem install bundler
        - gem update --system
        - bundle update --bundler
        - bundle install
        - yarn install
        - cp db/structure.sql db/structure.sql.copia
        - sed -e 's/provider = libc,//g;s/SET default_table_access_method.*/-- &/g' db/structure.sql.copia > db/structure.sql 
        - cp config/database.travis.yml config/database.yml
        - rake db:setup
        - rake sip:indices
        - cd ../..

script: 
        - bundle exec rails test -b

after_script: 
        - ./cc-test-reporter after-build -t simplecov --exit-code $TRAVIS_TEST_RESULT

