Usa los siguientes motores también desarrollados por Pasos de Jesús:

<ul>
  <li> <a href="https://github.com/pasosdeJesus/sip">sip</a> 
    <ul>
      <li> <a href="https://github.com/pasosdeJesus/mr519_gen">mr519_gen</a> y
        <ul>
          <li> <a href="https://github.com/pasosdeJesus/heb412_gen/graphs/contributors">heb412_gen</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
