/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require mr519_gen/application.css
 *= require_tree .
 */

.hidden { display: none; }

.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-alert {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

.alert-notice {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}
ul.heb412 {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.heb412_menucontextual ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.heb412_menucontextual li {
	list-style: none;
}

div.heb412_menucontextual li a:hover {
	box-shadow: 150px 0 0 0 #9E9B9B inset;
}

div.heb412_menucontextual li a {
	line-height: 1em;
	font-size: 0.8em;
	text-align: center;
	cursor:pointer;
	padding: 6px;
	color: black;
	display: block;
	text-decoration: none;
}


div.heb412_menucontextual {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	/*width:150px;*/
	position:absolute;  
	background: white;
	border:1px solid #E3E3E3;
	z-index: 999999;
}

div.heb412-div-sin-sobreflujo {
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/*
 *  maquetación tabla de ancho fijo
 *  Respuesta de Salman A en 
 *  https://stackoverflow.com/questions/31669939/clip-long-text-inside-html-table-cells-show-entire-content-on-hover
 *   */
table.heb412-anchofijo-table {
  table-layout: fixed;
  width: 100%;
  /*font: larger monospace; */
  border-collapse: collapse;
}

th.heb412-anchofijo-th:nth-child(1) {
  width: 40%;
}

/*th.heb412-anchofijo-th:nth-child(3) {
  width: 20%;
} */

/*
 *  inline-block elements expand as much as content, even more
 *  than 100% of parent
 * relative position makes z-index work
 * explicit width and nowrap makes overflow work
 */
div.heb412-anchofijo-div {
  display: inline-block;
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

/*
 *  * higher z-index brings element to front
 *   * auto width cancels the overflow
 *    */
div.heb412-anchofijo-div:hover {
  z-index: 1;
  width: auto;
  background-color: #FFFFCC;
}

